@media (max-width: 1450px) {
    .sidebar {
        width: 80%;
        display: flex;
        border-style: double;
        padding: 0% 2%;
    }

    main {
        width: 80%;
    }

    footer {
        width: 80%;
    }

    header {
        position: sticky;
        top: 0;
        background-color: color-mix(in srgb, var(--background-color) var(--background-opacity), white);
        z-index: 1;
    }

    .desktop-nav {
        visibility: hidden;
        display: none;
    }
    
    .mobile-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #burger-toggle {
        opacity: 0;
    }

    #burger-toggle:checked ~ .burger-button > span {
        transform: rotate(45deg);
    }
    #burger-toggle:checked ~ .burger-button > span::before {
        top: 0;
        transform: rotate(0);
    }
    #burger-toggle:checked ~ .burger-button > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    
    #burger-toggle:checked ~ .burger-box {
        visibility: visible;
        left: 0;
    }
    
    .burger-button {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        
        width: 26px;
        height: 26px;
        
        cursor: pointer;
        z-index: 1;
    }
      
    .burger-button > span,
    .burger-button > span::before,
    .burger-button > span::after {
        display: block;
        position: absolute;
        
        width: 100%;
        height: 2px;
        
        background-color: var(--primary-color);
        
        transition-duration: .25s;
    }

    .burger-button > span::before {
        content: '';
        top: -8px;
    }

    .burger-button > span::after {
        content: '';
        top: 8px;
    }
    
    .burger-box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        
        width: 300px;
        height: 100%;
        
        margin: 0;
        padding: 80px 0;
        
        list-style: none;
        
        background-color: color-mix(in srgb, var(--background-color) var(--background-opacity), white);
        box-shadow: 1px 0px 6px var(--primary-color);
    }
    
    .burger-item {
        display: block;
        padding: 12px 24px;
        
        color: var(--primary-color);
        
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        
        text-decoration: none;
        transition-duration: .25s;
    }

    .gallery-image {
        max-width: 40%;
    }
}