.button1 {
    border-radius: 5%;
    width: 10em;
    margin: 5%;
    background-color: #cc6868;
    border: none;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;    
}
  
.button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5%;
    transition: 0.5s;
}
  
.button1:hover span {
    padding-right: 15%;
}
  
.button1:hover span:after {
    opacity: 1;
    right: 0;
}

.button2 {
    display: inline-block;
    margin: 2%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
  
.button2:hover {background-color: #3e8e41}
  
.button2:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button3 {
    display: inline;
    position: relative;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    padding: 2%;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
  
.button3:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
  
.button3:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.button4 {
    display: inline;
    position: relative;
    background-color: #cc6868;
    border: none;
    color: #FFFFFF;
    padding: 2%;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.5s;
}

.button4::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #4CAF50;
    transition: transform 0.5s;
    transform: translateX(0);
}

.button4::after {
    content: '\2192';
    position: absolute;
    right: -1em;
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.button4:hover {
    background-color: #4CAF50;
}

.button4:hover::before {
    transform: translateX(100%);
}

.button4:hover::after {
    opacity: 1;
    transform: translateX(0.5em);
}
