@media (max-width: 1450px) {
    .sidebar {
        width: 80%;
        display: flex;
        border-style: double;
        padding: 0% 2%;
    }

    main {
        width: 80%;
    }

    footer {
        width: 80%;
    }

    header {
        position: sticky;
        top: 0;
        background-color: rgb(219, 247, 233);
        z-index: 1;
    }

    .desktopNav {
        visibility: hidden;
        display: none;
    }
    
    .mobileNav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #burgerToggle {
        opacity: 0;
    }

    #burgerToggle:checked ~ .burgerButton > span {
        transform: rotate(45deg);
    }
    #burgerToggle:checked ~ .burgerButton > span::before {
        top: 0;
        transform: rotate(0);
    }
    #burgerToggle:checked ~ .burgerButton > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    
    #burgerToggle:checked ~ .burgerBox {
        visibility: visible;
        left: 0;
    }
    
    .burgerButton {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        
        width: 26px;
        height: 26px;
        
        cursor: pointer;
        z-index: 1;
    }
      
    .burgerButton > span,
    .burgerButton > span::before,
    .burgerButton > span::after {
        display: block;
        position: absolute;
        
        width: 100%;
        height: 2px;
        
        background-color: #616161;
        
        transition-duration: .25s;
    }

    .burgerButton > span::before {
        content: '';
        top: -8px;
    }

    .burgerButton > span::after {
        content: '';
        top: 8px;
    }
    
    .burgerBox {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        
        width: 300px;
        height: 100%;
        
        margin: 0;
        padding: 80px 0;
        
        list-style: none;
        
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }
    
    .burgerItem {
        display: block;
        padding: 12px 24px;
        
        color: #333;
        
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        
        text-decoration: none;
        transition-duration: .25s;
    }

    .burgerItem:hover {
        background-color: #CFD8DC;
    }

    .galleryImage {
        max-width: 40%;
    }
}